<?xml version="1.0"?>
<config>
	<modules>
		<ProxiBlue_ShoppingDotCom>
                        <!-- adjusted to work in 1.4 -->
			<version>0.0.2</version>
		</ProxiBlue_ShoppingDotCom>
 	</modules>
	<global>
	<models>
       <shoppingdotcom>
           <class>ProxiBlue_ShoppingDotCom_Model</class>
           <resourceModel>shoppingdotcom_mysql4</resourceModel>
       </shoppingdotcom>
       <shoppingdotcom_mysql4>
                <class>ProxiBlue_ShoppingDotCom_Model_Mysql4</class>
                <entities>
                    <shoppingdotcom>
                        <table>shoppingdotcom</table>
                    </shoppingdotcom>
                </entities>
       </shoppingdotcom_mysql4>
     </models>
     <blocks>
		   	<shoppingdotcom>
		   		<class>ProxiBlue_ShoppingDotCom_Block</class>
			</shoppingdotcom>
			<adminhtml>
                <rewrite>
                    <catalog_product>ProxiBlue_ShoppingDotCom_Block_Catalog_Product</catalog_product>
               	</rewrite>
               	<rewrite>
                    <catalog_product_grid>ProxiBlue_ShoppingDotCom_Block_Catalog_Product_Grid</catalog_product_grid>
               	</rewrite>
            </adminhtml>
	 </blocks>
       <resources>
            <shoppingdotcom_setup>
                <setup>
                    <module>ProxiBlue_ShoppingDotCom</module>
                    <class>ProxiBlue_ShoppingDotCom_Model_Resource_Eav_Mysql4_Setup</class>
                </setup> 
                <connection>
                    <use>core_setup</use>
                </connection>
            </shoppingdotcom_setup>
            <shoppingdotcom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shoppingdotcom_write>
            <shoppingdotcom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shoppingdotcom_read>
        </resources>
	</global>
	<frontend>
        <routers>
            <ShoppingDotCom>
                <use>standard</use>
                <args>
                    <module>ProxiBlue_ShoppingDotCom</module>
                    <frontName>shoppingdotcom</frontName>
                </args>
            </ShoppingDotCom>
        </routers>
    </frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ProxiBlue_ShoppingDotCom before="Mage_Adminhtml">ProxiBlue_ShoppingDotCom_Override_Adminhtml</ProxiBlue_ShoppingDotCom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
